// Font Family
$heading-font:'Poppins', sans-serif;
$body-font: 'Muli', sans-serif;

// Theme Color 
$base-color:#f21e4e;
$base-dark:#353353;
$bg-dark:#302f4e;
$white-color:#ffffff;
$black-color: #000000;
$dark-color:#35404e;
$text-color:#515c6a;
$bg-light:#F9F9FF;
$eee:#eee;


//font-size
$f-s-h1: 40px;
$f-s-h2: 36px;
$f-s-h3: 28px;
$f-s-h4: 24px;
$f-s-h5: 20px;
$f-s-h6: 16px;
$f-s-p: 16px;

//font-weight
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$f-w-800: 800;
$f-w-900: 900;

//Line-height
$line-height-base: 1.618;
$line-height: 1.5;

//border-raduis
$rd:0px;
$rd-round:20px;
$rd-circle: 50%;




